services:
  db: # PostgreSQL database service
    image: postgres:17-alpine
    ports:
      - "5432:5432" # Expose PostgreSQL port
    environment:
      POSTGRES_DB: "itaLuxury"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "root"
    restart: always
    healthcheck:
      retries: 5

  pgadmin4:
    image: elestio/pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80" # Access pgAdmin at http://localhost:8080

  app:
    container_name: nextjs_app
    depends_on:
      db:
        condition: service_healthy
    build:
      dockerfile: Dockerfile.dev
    volumes:
      - ./data:/app/data
    ports:
      - "4000:4000"
    # develop:
    #   watch:
    #     - path: ./package.json
    #       action: rebuild
    #     - path: ./next.config.mjs
    #       action: rebuild
    #     - path: .
    #       target: /graphql
    #       action: sync
    #     - path: .
    #       target: /app
    #       action: sync
    #     - path: .
    #       target: /componants
    #       action: sync
    env_file:
      - .env.development
